body {
    font-size: 32px;
    color: antiquewhite;
    background: rgba(19, 24, 19, 0.932);
} 
input{
    display: none;
}
p {
    font-size: calc(1rem + 0.5vw);
    margin: 0;
}
.container  {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    margin: 0 auto;
    padding: 3%;
    width: 76.4%;  
}
.slider{
    width: 100%;
    overflow: hidden;  
}
.slider_img{
    display: flex;
    width: 400%;
    transition: all 0.2s linear;

}
.slide{
    width: 27%; 
}


.titles{
    display: flex;
    width: 572%; 
    transition: all 0.2s linear;
}

img{
    border-radius: 20px;
}

.slider__titles{
    width: 70%;
    overflow: hidden;
}
.title{
    width: 25%;
}
.navigation{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;  
}
.button{
    background-color: aqua;
    border-radius: 50%;
    border: 2px solid aqua;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all 0.4s ease; 
} 
.button:focus{
    background: transparent;
    border: 2px solid aqua;
} 
.button:hover{
    border: 2px solid #fff;
    background: transparent;
}
.button:active {
    border: 2px solid white;
    background: white;
}
.navigation div{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: -10px;
}
.navigation div:hover .button{
    background: #fff;
    border: 2px solid #fff;
}


#s1:checked ~.slider .slider_img,
#s1:checked ~.slider__titles .titles{
    transform: translateX(0);
}
#s2:checked ~.slider .slider_img,
#s2:checked ~.slider__titles .titles{
    transform: translateX(-25%);
}
#s3:checked ~.slider .slider_img,
#s3:checked ~.slider__titles .titles{
    transform: translateX(-50%);
}
#s4:checked ~.slider .slider_img,
#s4:checked ~.slider__titles .titles{
    transform: translateX(-75%);
}


@media (max-width: 480px) {
    .navigation{
        justify-content: center;
    }
    img {
        height: auto;
    }
}

